In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('Crimes_-_2001_to_present.csv', low_memory=False)
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11034701,JA366925,01/01/2001 11:00:00 AM,016XX E 86TH PL,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,8.0,45.0,11,NaN,NaN,2001,08/05/2017 03:50:08 PM,NaN,NaN,NaN
1,11227287,JB147188,10/08/2017 03:00:00 AM,092XX S RACINE AVE,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,False,...,21.0,73.0,02,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN
2,11227583,JB147595,03/28/2017 02:00:00 PM,026XX W 79TH ST,0620,BURGLARY,UNLAWFUL ENTRY,OTHER,False,False,...,18.0,70.0,05,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN
3,11227293,JB147230,09/09/2017 08:17:00 PM,060XX S EBERHART AVE,0810,THEFT,OVER $500,RESIDENCE,False,False,...,20.0,42.0,06,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN
4,11227634,JB147599,08/26/2017 10:00:00 AM,001XX W RANDOLPH ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,False,False,...,42.0,32.0,02,NaN,NaN,2017,02/11/2018 03:57:41 PM,NaN,NaN,NaN

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7101626 entries, 0 to 7101625
Data columns (total 22 columns):
ID                      int64
Case Number             object
Date                    object
Block                   object
IUCR                    object
Primary Type            object
Description             object
Location Description    object
Arrest                  bool
Domestic                bool
Beat                    int64
District                float64
Ward                    float64
Community Area          float64
FBI Code                object
X Coordinate            float64
Y Coordinate            float64
Year                    int64
Updated On              object
Latitude                float64
Longitude               float64
Location                object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 1.1+ GB

In [36]:
print(df.count()) # Counts the nonnull values for each column

ID                      7101626
Case Number             7101622
Date                    7101626
Block                   7101626
IUCR                    7101626
Primary Type            7101626
Description             7101626
Location Description    7095159
Arrest                  7101626
Domestic                7101626
Beat                    7101626
District                7101579
Ward                    6486797
Community Area          6488131
FBI Code                7101626
X Coordinate            7033402
Y Coordinate            7033402
Year                    7101626
Updated On              7101626
Latitude                7033402
Longitude               7033402
Location                7033402
dtype: int64

In [37]:
# The Ward and Community Area are being dropped due to the high percentage of null values.
# Other unneeded information includes the coordinates and when the information was updated.
df = df.drop(['Ward', 'Community Area','X Coordinate', 'Y Coordinate', 'Updated On', 'Latitude', 'Longitude', 'Location'], axis=1)
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,FBI Code,Year
0,11034701,JA366925,01/01/2001 11:00:00 AM,016XX E 86TH PL,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,412,4.0,11,2001
1,11227287,JB147188,10/08/2017 03:00:00 AM,092XX S RACINE AVE,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,False,2222,22.0,02,2017
2,11227583,JB147595,03/28/2017 02:00:00 PM,026XX W 79TH ST,0620,BURGLARY,UNLAWFUL ENTRY,OTHER,False,False,835,8.0,05,2017
3,11227293,JB147230,09/09/2017 08:17:00 PM,060XX S EBERHART AVE,0810,THEFT,OVER $500,RESIDENCE,False,False,313,3.0,06,2017
4,11227634,JB147599,08/26/2017 10:00:00 AM,001XX W RANDOLPH ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,False,False,122,1.0,02,2017

In [38]:
null_df = df[df.isnull().any(axis=1)]
print(null_df)

               ID Case Number                    Date  \
9        11227633    JB147500  12/28/2017 03:55:00 PM
25       11042759    JA376850  07/08/2013 04:10:00 PM
45       11223717    JB141803  02/04/2018 03:25:00 PM
74       11228293    JB148253  07/01/2017 08:40:00 PM
97       11243514    JB168799  11/12/2014 12:00:00 AM
...           ...         ...                     ...
7094323   9987187    HY177034  02/13/2014 02:20:00 PM
7094328   9987195    HY177019  03/06/2015 04:05:00 AM
7096577   9991394    HY181085  03/11/2015 12:20:00 AM
7098148   9993899    HY183354  03/11/2015 08:30:00 PM
7101624  11707734    JC287730  07/01/2014 07:30:00 AM

                           Block  IUCR        Primary Type  \
9           011XX S MICHIGAN AVE  1153  DECEPTIVE PRACTICE
25           056XX N KENMORE AVE  1153  DECEPTIVE PRACTICE
45       044XX W WASHINGTON BLVD  1153  DECEPTIVE PRACTICE
74            060XX S TALMAN AVE  1153  DECEPTIVE PRACTICE
97             107XX S PEORIA ST  1153  DECEPTIVE PRACTICE
...                          ...   ...                 ...
7094323     023XX N BOSWORTH AVE  1153  DECEPTIVE PRACTICE
7094328      049XX W DIVISION ST  1153  DECEPTIVE PRACTICE
7096577       047XX W GLADYS AVE  1153  DECEPTIVE PRACTICE
7098148      049XX S CORNELL AVE  1150  DECEPTIVE PRACTICE
7101624      063XX S NORMAL BLVD  1153  DECEPTIVE PRACTICE

                                 Description Location Description  Arrest  \
9        FINANCIAL IDENTITY THEFT OVER $ 300                  NaN   False
25       FINANCIAL IDENTITY THEFT OVER $ 300                  NaN   False
45       FINANCIAL IDENTITY THEFT OVER $ 300                  NaN   False
74       FINANCIAL IDENTITY THEFT OVER $ 300                  NaN   False
97       FINANCIAL IDENTITY THEFT OVER $ 300                  NaN   False
...                                      ...                  ...     ...
7094323  FINANCIAL IDENTITY THEFT OVER $ 300                  NaN   False
7094328  FINANCIAL IDENTITY THEFT OVER $ 300                  NaN   False
7096577  FINANCIAL IDENTITY THEFT OVER $ 300                  NaN   False
7098148                    CREDIT CARD FRAUD                  NaN   False
7101624  FINANCIAL IDENTITY THEFT OVER $ 300                  NaN   False

         Domestic  Beat  District FBI Code  Year
9           False   123       1.0       11  2017
25          False  2022      20.0       11  2013
45          False  1113      11.0       11  2018
74          False   825       8.0       11  2017
97          False  2233      22.0       11  2014
...           ...   ...       ...      ...   ...
7094323     False  1811      18.0       11  2014
7094328     False  2533      25.0       11  2015
7096577     False  1131      11.0       11  2015
7098148     False   222       2.0       11  2015
7101624     False   722       7.0       11  2014

[6518 rows x 14 columns]

In [39]:
null_df.count()

ID                      6518
Case Number             6514
Date                    6518
Block                   6518
IUCR                    6518
Primary Type            6518
Description             6518
Location Description      51
Arrest                  6518
Domestic                6518
Beat                    6518
District                6471
FBI Code                6518
Year                    6518
dtype: int64

In [40]:
null_df['Description'].value_counts()

FINANCIAL IDENTITY THEFT OVER $ 300        4770
FINANCIAL IDENTITY THEFT $300 AND UNDER     836
$500 AND UNDER                              676
ILLEGAL USE CASH CARD                        42
CREDIT CARD FRAUD                            34
FROM BUILDING                                27
FRAUD OR CONFIDENCE GAME                     17
SIMPLE                                       13
FORCIBLE ENTRY                                9
COMPUTER FRAUD                                8
POCKET-PICKING                                7
UNLAWFUL USE OF A COMPUTER                    6
FORGERY                                       5
AUTOMOBILE                                    4
STRONGARM - NO WEAPON                         4
TO PROPERTY                                   4
TO VEHICLE                                    4
COUNTERFEIT CHECK                             3
OVER $500                                     3
UNLAWFUL POSS OF HANDGUN                      2
FINANCIAL ID THEFT: OVER $300                 2
BOGUS CHECK                                   2
DOMESTIC BATTERY SIMPLE                       2
POSS: CANNABIS 30GMS OR LESS                  2
AGGRAVATED                                    2
CRIMINAL SEXUAL ABUSE                         2
AGGRAVATED: HANDGUN                           1
AGG SEX ASSLT OF CHILD FAM MBR                1
UNLAWFUL USE/SALE AIR RIFLE                   1
ATTEMPT NON-AGGRAVATED                        1
AGGRAVATED VEHICULAR HIJACKING                1
ATTEMPT FORCIBLE ENTRY                        1
HARASSMENT BY TELEPHONE                       1
CRIMINAL DEFACEMENT                           1
AGGRAVATED: OTHER DANG WEAPON                 1
AGG PO HANDS NO/MIN INJURY                    1
BOMB THREAT                                   1
NON-AGGRAVATED                                1
VIOLATE ORDER OF PROTECTION                   1
TO CITY OF CHICAGO PROPERTY                   1
ARMED: OTHER DANGEROUS WEAPON                 1
ILLEGAL POSSESSION CASH CARD                  1
ARMED: HANDGUN                                1
TELEPHONE THREAT                              1
SOLICIT ON PUBLIC WAY                         1
TAMPER WITH MOTOR VEHICLE                     1
ATTEMPT FINANCIAL IDENTITY THEFT              1
THEFT/RECOVERY: AUTOMOBILE                    1
STOLEN PROP: BUY/RECEIVE/POS.                 1
AGGRAVATED FINANCIAL IDENTITY THEFT           1
COUNTERFEITING DOCUMENT                       1
UNLAWFUL ENTRY                                1
EMBEZZLEMENT                                  1
ATT: AUTOMOBILE                               1
TO STATE SUP LAND                             1
ATTEMPT - FINANCIAL IDENTITY THEFT            1
AGGRAVATED PO: HANDGUN                        1
BY FIRE                                       1
Name: Description, dtype: int64

In [47]:
# We are not particularly interested in identity theft, so dropping the rest of the rows with null values will
# not be an issue for our project going forward.
df = df.dropna()
df = df.reset_index(drop=True)
df.District = df.District.astype(int) # Convert District from float to int.
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,FBI Code,Year
0,11034701,JA366925,01/01/2001 11:00:00 AM,016XX E 86TH PL,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,412,4,11,2001
1,11227287,JB147188,10/08/2017 03:00:00 AM,092XX S RACINE AVE,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,RESIDENCE,False,False,2222,22,02,2017
2,11227583,JB147595,03/28/2017 02:00:00 PM,026XX W 79TH ST,0620,BURGLARY,UNLAWFUL ENTRY,OTHER,False,False,835,8,05,2017
3,11227293,JB147230,09/09/2017 08:17:00 PM,060XX S EBERHART AVE,0810,THEFT,OVER $500,RESIDENCE,False,False,313,3,06,2017
4,11227634,JB147599,08/26/2017 10:00:00 AM,001XX W RANDOLPH ST,0281,CRIM SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL/MOTEL,False,False,122,1,02,2017

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7095108 entries, 0 to 7095107
Data columns (total 14 columns):
ID                      int64
Case Number             object
Date                    object
Block                   object
IUCR                    object
Primary Type            object
Description             object
Location Description    object
Arrest                  bool
Domestic                bool
Beat                    int64
District                int32
FBI Code                object
Year                    int64
dtypes: bool(2), int32(1), int64(3), object(8)
memory usage: 636.0+ MB

In [49]:
df.count()

ID                      7095108
Case Number             7095108
Date                    7095108
Block                   7095108
IUCR                    7095108
Primary Type            7095108
Description             7095108
Location Description    7095108
Arrest                  7095108
Domestic                7095108
Beat                    7095108
District                7095108
FBI Code                7095108
Year                    7095108
dtype: int64

In [50]:
df.to_csv("Cleaned_Crime.csv")